# Vim
*~
*.sw[p_]

# Sublime Text
*.sublime-project
*.sublime-workspace

# Node.js and NPM
node_modules
npm-debug.log*
package-lock.json
!app/package-lock.json

# macOS
.DS_Store

# Vite build output
app/dist
